/* Home */
.leagueoflegendsimg
{
    width: 50%;
}
.home-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.playforfreetxt
{
  text-transform: uppercase;
  border: 3px solid #937341;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 150px;
  padding: 10px;
  text-align: center;
  background-color: #000;
  margin-top: 25px;
  color: #fff;
  text-decoration: none;
}
.playforfreetxt:hover
{
  transition: 0.5s;
  background-color: #fff;
  color: #000;
}

/* About */
.summonersrift
{
    width: 100%;
}
.abouttxt
{
    width: 50%;
    height: 50%;
}

/* Katarina / Ivern */
.champion-container
{
  height: 700px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}


/* Flip champion card css */

.flip-box {
  background-color: transparent;
  width: 500px;
  height: 600px;
  perspective: 1000px;
  font-weight: normal; 
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.champion-ability
{
  text-align:center;
  color: #fff;
}
.ability-info
{
  text-align: left;
  color: #555;
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-box-back {
  background-color: transparent;
  border: 2px solid #fff;
  transform: rotateY(180deg);
}

.champ-image{
 width: 500px;
 height: 600px;
}

h2.champion-title {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}

p.champion-quote-ivern {
  color: #008000;
}
.champion-quote-katarina
{
  color: #ff0000; 
}

/* Contact form*/
#contact 
{
  width: 100%;
  height: 100vh;
  background-color:grey;
  overflow: hidden;
  padding-bottom: 200px;
}
 
.section-header 
{
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px "Oswald", sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}
 
.contact-wrapper 
{
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}
 
/* Begin Left Contact Page */
.form-horizontal 
{
  float: left;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}
 
.form-control,
textarea 
{
  max-width: 400px;
  color: rgb(102, 27, 27);
  width: 400px;
}
 
.send-button 
{
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
 
.button 
{
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}
 
.send-text 
{
  display: block;
  margin-top: 10px;
  font: 300 14px "Lato", sans-serif;
  letter-spacing: 2px;
}
 
.button:hover 
{
  transform: translate3d(0px, -29px, 0px);
}
 
/* Begin Right Contact Page */
.direct-contact-container 
{
  max-width: 400px;
  float: right;
  margin-top: 5px;
}
 
.copyright 
{
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}
 
.form-group 
{
  height: 70px;
}
 
input#email 
{
  height: 45px;
}
 
input#name 
{
  height: 45px;
}
 
iframe .googlemaps{
  height: 430px;
  margin-top: 10px;
}

/*Google MAPS CONTACT FORM */

.maps{
  width: 100%;
}

.googlemaps{
  width:100% ;
  height:400px;
}

/*Champions PAGINA*/

p.txt-champions {
  color: white;
  text-align: center;
}

.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.gallery {
  max-width: 800px;
  margin: auto;
  width: 52.7%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: inherit;

}
.hvrbox-link{
  text-decoration: none;
  color: #fff;
}