/* Media query global css */
@media (min-width: 800px) 
{
    nav ul li:hover > ul {
        padding-left:0;
        }

    nav ul li:hover > ul a{
        color:#FFF;
    }

    .sub-menu li{
        display:flex;
        }
        
        li:hover, li a:hover{
        text-decoration:underline;
        }
        nav ul ul {
        display: none;
        position:absolute;
        }
        .menu{
        flex-direction:row;
        justify-content:space-between;
        }
}
    /* End media query global css */



    /* Media query main css */ 
@media screen and (max-width: 760px) 
{
    /* */
    #contact 
    {
        height: 1000px;
    }
    .section-header 
    {
        font-size: 65px;
    }
    .direct-contact-container,
    .form-horizontal 
    {
        float: none;
        margin: 10px auto;
    }

    .direct-contact-container 
    {
        margin-top: 60px;
        max-width: 300px;
    }
}
 
@media screen and (max-width: 569px) 
{
    #contact 
    {
        height: 1200px;
    }

    .section-header 
    {
        font-size: 50px;
    }

    .direct-contact-container,
    .form-wrapper 
    {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea 
    {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
    }

    .direct-contact-container 
    {
        margin-top: 60px;
        max-width: 280px;
    }
}
 
@media (min-width: 800px) {
    .abouttxt
    {
        margin-left: 25px;
    }
    .container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
    }   
    .imgbox
    {
        width: 50%;
    }
}
@media (max-width: 800px)
{
    .contact
    {
        margin-bottom: 100px;
    }
    .leagueoflegendsimg, .champ-image, .flip-box, .abouttxt 
    {
        width: 100%;
    }
    .imgbox
    {
        display:none;
    } 
    .aboutheader
    {
        text-align: center;
    }
}
    /* End media queries main css */